@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./common.scss";
@import "./header.scss";
@import "./page.scss";
@import "./query375.scss";
@import "./query668.scss";
@import "./query898.scss";
@import "./query1000.scss";
@import "./query1440.scss";
@import "./query1600.scss";
@import "./footer.scss";