main{
  min-height: 900px;
  min-width: 375px;
  padding-top: 110px;
  font-family: 'Roobert';
  font-style: normal;
  color: #363434;
  font-weight: 400;
  .notransparent{
    opacity: 1;
  }
  .half_transparent{
    opacity: 0.45;
  }

  .c__contents{
    .u__sect{
      border-radius: 0px 0px 80px 80px;
      position: relative;
      width: 100%;
      overflow-x: hidden;
      .u__content{
        position: relative;
        padding-top: 205px;
        padding-bottom: 90px;
        max-width: 1600px;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        .u__shapelinear{
          width:668px;
          height:305px;
          z-index: -1;
          position: absolute;
        }
        .s_title{
          position: relative;
          z-index: 1;
          margin-left:5%;
          span{
            border-radius: 80px;
            border: 2px solid #363434;
            font-weight: 300;
            font-size: 35px;
            line-height: 42px;
            padding: 0 30px;
            min-width: 100px;
            max-width: 90%;
          }
        }
        .s_desc{
          font-size: 20px;
          line-height: 25px;
          z-index: 2;
          width: 60%;
          margin-left: 10%;
          margin-top: 144px;
        }
        .s_detail{
          font-size: 14px;
          line-height: 20px;
          position: relative;
          padding: 0 18px;
          margin: 0 auto;
          margin-top: 57px;
          text-align: center;
        }
        .s_programbox{
          position: absolute;
          width: 100%;
          z-index: 0;
          top:336px;
        }
        .s_programmesdiagram{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          position: relative;
          z-index: 1;
          width: 100%;
          left: 0px;
          max-width: 731px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 214px;
          div{
            width: 55.59%;
            h3{
              position: absolute;
              top: 0;
              left: 0;
              z-index: 10;
              font-family: 'Roobert Light';
              font-family: 'Roobert';
              font-size: 28px;
              line-height: 34px;
            }
            figure{
              width: 100%;
              height: 0;
              padding-bottom: 100%;
              border-radius: 50%;
              overflow: hidden;
              position: relative;
              img{
                position: absolute;
                top: 0;
                left: 0;
              }
            }
            &:nth-child(1){
              position: relative;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
              height: 0;
              padding-bottom: 83.3%;
              h3{
                top: 18.5%;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
              }
            }
            &:nth-child(2){
              h3{
                top: 55.6%;
                left: -4%;
              }
            }
            &:not(:first-child){
              position: absolute;
              bottom: 0;
              left: 10px;
            }
            &:nth-child(3){
              left: auto;
              right: 10px;
              h3{
                top: 45.1%;
                left: 32.5%;
              }
            }
          }
          .s_union{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-46%, -32%);
            width: 13.8%;
            height: 24.1%;
            width: 44px;
            height: 68px;
            transform: translate(-40%, -20%);
          }
        }
        .s_flexitems{
          padding-bottom: 54px;
          .s_items{
            display: block;
            .s_item{
              font-size: 14px;
              line-height: 20px;
              width: 80%;
              margin: 0 auto;
              text-align: center;
              &:not(:first-child){
                margin-top: 27px;
              }
              &:not(:last-child){
                &:after{
                  content: '';
                  display: block;
                  background: url("../img/arrow_approachdown.svg") top center;
                  height: 49px;
                  width: 19px;
                  background-size: 19px 49px;
                  margin: 0 auto;
                  margin-top: 44px;
                }
              }
              .s_index{
                font-size: 70px;
                line-height: 84px;
              }
              .s_feature{
                font-size: 30px;
                line-height: 36px;
                height:69px;
                display: flex;
                align-items: center;
                h3{
                  width: 100%;
                }
              }
            }
          }
          .s_arrows{
            display: none;
          }
        }
        .s_imglist{
          position: absolute;
          top: 378px;
          width: 486px;
          height: 211px;
          margin-left: calc(50% - 243px);
          figure{
            width: 132px;
            height: 132px;
            border-radius: 50%;
            display: block;
            overflow: hidden;
            position: absolute;
            &:nth-child(1){
              left: 0px;
              bottom: 0px;
            }
            &:nth-child(2){
              left: 85px;
              top: 0px;
            }
            &:nth-child(3){
              left: 177px;
              bottom: 0px;
            }
            &:nth-child(4){
              left: 263px;
              top: 0px;
            }
            &:nth-child(5){
              right: 0px;
              bottom: 0px;
            }
          }
        }
        .s_image{
          width: 100%;
          position: absolute;
          left: 0px;
          top: 570px;
        }
        .s_copy{
          margin-top: 210px;
          position: relative;
          z-index: 1;
          padding: 0 25px;
          .s_detail{
            margin-top:0px;
            width: 100%;
          }
          .s_logo{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 18px;
            margin-top: 40px;
            figure{
              height: 44px;
            }
          }
        }
      }
    }
    .c__futurehealth{
      background: #DDD5CC;
      z-index: 10;
      .u__content{
        padding-top: 36px;
        padding-bottom: 131px;
        .u__img{
          width:100%;
          max-width: 1151px;
          min-width: 420px;
          border-radius: 300px;
          overflow: hidden;
          position: absolute;
          z-index: -1;
          top: 76px;
          left: 20%;
        }
        .u__shapelinear{
          &.v_shape{
            top: 126px;
            left: -36px;
          }
        }
      }
    }
    .c__specialist{
      background: #C2B7AE;
      margin-top: -131px;
      z-index: 9;
      .u__content{
        .s_programmesdiagram{
          margin-top: 34px;
        }
        .u__shapelinear{
          &.v_shape{
            top: 250px;
            left: auto;
            right: -10%;
            width: 975px;
            height: 446px;
            border-radius: 223px;
          }
        }
      }
    }
    .c__advancing{
      background: #DDD5CC;
      margin-top: -128px;
      z-index: 8;
      .u__content{
        .s_title{
          margin-right: 5%;
          span{
            padding: 0 20px;
            max-width: 100%;
          }
        }
        .s_desc{
          position: relative;
          padding-top: 56px;
          margin: 0 auto;
          text-align: center;
          width: 90%;
        }
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            width: 839px;
            height: 333px;
            top: 350px;
            border-radius:166px;
            left: auto;
            right: -20%;
          }
          &.v_shape:nth-of-type(2){
            width: 839px;
            height: 333px;
            border-radius:166px;
            left: auto;
            right: 50%;
            top: 650px;
          }
        }
      }
    }
    .c__healthcare{
      background: #DDD5CC;
      z-index: 8;
      .u__content{
        padding-top: 277px;
        padding-bottom: 765px;
        .s_title{
          margin-top: 0px;
        }
        .s_absimg{
          position: absolute;
          z-index: 1;
          figure{
            width: 280px;
            height: 153px;
            position: relative;
            a{
              width: 280px;
              height: 140px;
              border-radius: 70px;
              overflow: hidden;
              display: block;
            }
            span{
              position: absolute;
              width: 26px;
              height: 26px;
              border-radius: 50%;
              left: 50%;
              bottom: 0px;
              background: #EE907B;
              transform: translateX(-50%);
              color: #fff;
              font-size: 26px;
              text-align: center;
              line-height: 26px;
              cursor: pointer;
            }
          }
          &:nth-of-type(4){
            right: 20%;
            top: 0px;
          }
          &:nth-of-type(5){
            left: auto;
            right:-16%;
            top:110px;
          }
          &:nth-of-type(6){
            left:-20%;
            top:628px;
          }
          &:nth-of-type(7){
            left:auto;
            right: 14px;
            top:628px;
            figure{
              width:140px;
              height: 293px;
              a{
                width:140px;
                height: 280px;
              }
            }
          }
          &:nth-of-type(8){
            left:-20%;
            top: 793px;
          }
          &:nth-of-type(9){
            left: 50%;
            transform: translateX(-50%);
            top: 895px;
            figure{
              width:140px;
              height: 293px;
              a{
                width:140px;
                height: 280px;
              }
            }
          }
        }
        .s_detail{
          width:100%;
          padding: 0 42px;
          margin-top: 40px;
        }
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            width: 1006px;
            height: 399px;
            border-radius: 200px;
            left:auto;
            top: 28px;
            right: 8px;
          }
          &.v_shape:nth-of-type(2){
            display: none;
          }
          &.v_shape:nth-of-type(3){
            width: 1052px;
            height: 418px;
            border-radius: 209px;
            top: 840px;
            left:auto;
            right: -20%;
          }
        }
      }
    }
    .c__approach{
      background: #C2B7AE;
      margin-top: -128px;
      z-index: 7;
      .u__content{
        .u__bg{
          width: 776px;
          height: 776px;
          border-radius: 50%;
          overflow: hidden;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
          z-index: -1;
          opacity: 0.45;
          img{
            width: 50%;
            float: left;
          }
        }
        .s_title{
          margin-left: 0px;
          span{
            margin: 0 auto;
          }
        }
        .s_desc{
          text-align: center;
          width: 100%;
          padding: 0 39px;
          margin: 0 auto;
          margin-top: 34px;
          margin-bottom: 79px;
        }
        .u__shapelinear{
          &.v_shape{
            height: 816px;
            left: 0px;
            top: 550px;
            border-radius: 408px;
          }
        }
      }
    }
    .c__services{
      background: #DDD5CC;
      margin-top: -128px;
      z-index: 6;
      .u__content{
        padding-bottom: 102px;
        .s_title{
          margin-left: 0px;
          span{
            margin: 0 auto;
          }
        }
        .s_desc{
          width: 100%;
          padding: 0 18px;
          text-align: center;
          margin:0 auto;
          margin-top: 44px;
          margin-bottom: 305px;
        }
        .s_detail{
          margin-top: 0px;
          margin-bottom: 70px;
        }
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            width: 832px;
            height: 330px;
            border-radius: 165px;
            top: 390px;
            left:auto;
            right: 0px;
          }
          &.v_shape:nth-of-type(2){
            display: none;
          }
        }
      }
    }
    .c__visitus{
      background: #C2B7AE;
      margin-top: -128px;
      z-index: 5;
      border-radius: 0px;
      .u__content{
        .s_title{
          margin-left: 0px;
          span{
            margin: 0 auto;
          }
        }
        .s_imgtxt{
          padding: 0 18px;
          margin-top: 42px;
          position: relative;
          figure{
            width: 220px;
            height: 220px;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            img{
              width: 100%;
              height: 100%;
            }
          }
          .s_info{
            width: auto;
            .s_infotit{
              font-size: 25px;
              line-height: 32px;
              text-align: center;
            }
            .s_detail{
              width: 100%;
              padding: 0 36px;
              margin-top: 16px;
              margin-bottom: 257px;
              text-align: center;
            }
            .s_form{
              margin-top: 38px;
            }
          }
        }
      }
    }
  }

  &.p__subpages{
    width: 100%;
    overflow-x:hidden;
    background: #DDD5CC;
    .c__contents{
      position: relative;
      z-index: 1;
      .c__subpageintro{
        padding: 0 18px;
        padding-top: 34px;
        position: relative;
        z-index: 3;
        .s_logo{
          height: 54px;
          img{
            display: block;
            height:100%;
            margin: 0 auto;
          }
        }
        .s_title{
          font-weight: 300;
          font-size: 35px;
          line-height: 40px;
          text-align: center;
          margin-top: 40px;
          margin-bottom: 38px;
        }
        .s_desc{
          font-size: 20px;
          line-height: 25px;
          text-align: center;
        }
        .s_shapes{
          &.s_experience{
            .u__shapelinear{
              width: 955px;
              height: 381px;
              left: auto;
              right: 18px;
              top: 0px;
              z-index: -1;
              border-radius: 191px;
            }
          }
          &.s_experience_detail{
            .v_shape:nth-child(1){
              width: 1266px;
              height: 502px;
              border-radius:251px;
              left: auto;
              right: 10px;
              top: 80px;
              z-index: -1;
            }
            .v_shape:nth-child(2){
              width: 863px;
              height: 342px;
              left: 40%;
              top: 486px;
              z-index: -1;
            }
          }
          &.s_experience_poct{
            .u__shapelinear{
              width: 1337px;
              height: 530px;
              left: auto;
              right: 18px;
              top: 135px;
              z-index: -1;
              border-radius: 265px;
            }
          }
        }
        .s_subtitle{
          font-weight: 300;
          font-size: 35px;
          line-height: 42px;
          font-weight: 600;
          height: 47px;
          text-align: center;
          span{
            border: 2px solid #363434;
            border-radius: 60px;
            padding:0 22px;
            font-weight: 400;
          }
        }
        .s_bigtitle{
          font-size:14px;
          line-height: 20px;
          font-weight: 600;
          text-align: center;
          margin-bottom: 40px;
        }
        .s_content{
          font-size: 14px;
          line-height: 20px;
          text-align: left;
          padding-bottom: 100px;
        }
      }
      .c__imglist{
        margin-top: 65px;
        position: relative;
        z-index: 1;
        .s_imgitem{
          width: 339px;
          height: 421px;
          border-radius: 40px;
          overflow: hidden;
          margin: 0 auto;
          margin-bottom: 40px;
          position: relative;
          background: rgba(132,132,132,0.18);
          padding: 0 30px;
          padding-top: 40px;
          figure{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index:-1;
            img{
              height: 100%;
              display: block;
            }
          }
          h4{
            text-align: center;
            font-size: 14px;
            line-height: 20px;
          }
          p{
            font-weight: 300;
            font-size: 35px;
            line-height: 40px;
            text-align: center;
            margin-top: 11px;
            margin-bottom: 44px;
          }
        }
      }
      .c__imgcaption{
        padding: 0 18px;
        padding-bottom: 102px;
        border-radius: 0px 0px 80px 80px;
        background: #DDD5CC;
        position: relative;
        z-index: 2;
        .s_imgcaption{
          width: 100%;
          figure{
            width: 100%;
            border-radius: calc((100vw / 339) * 30);
            overflow: hidden;
          }
          p{
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            padding-top: 18px;
          }
        }
      }
      .c__caseflex{
        background: #BEB3AA;
        border-radius: 0px 0px 80px 80px;
        padding: 0 18px;
        padding-top: 231px;
        padding-bottom: 102px;
        margin-top: -135px;
        position: relative;
        z-index: 1;
        .s_subtitle{
          h2{
            font-weight: 300;
            font-size: 35px;
            line-height: 42px;
            text-align: center;
            color: #E6E6E6;
          }
        }
        .s_caselist{
          .s_caseitem{
            padding-top: 56px;
            .s_caseicon{
              height: 38px;
              img{
                display: block;
                height: 100%;
              }
            }
            .s_casetitle{
              font-weight: 600;
              font-size: 20px;
              line-height: 25px;
              text-align: center;
              margin-top: 22px;
            }
            .s_casedesc{
              font-size: 14px;
              line-height: 20px;
              text-align: center;
              margin-top: 17px;
            }
          }
        }
      }
      .c__videobox{
        padding-top: 106px;
        padding-bottom: 106px;
        .u__content{
          width: 100%;
          padding: 0 18px;
          .u__videobox{
            width: 100%;
            video{
              width: 100%;
            }
          }
        }
      }
      .c__imgtxt{
        position: relative;
        z-index: 4;
        figure{
          width: 290px;
          height: 445px;
          overflow: hidden;
          border-radius:145px;
          margin: 0 auto;
          img{
            display: block;
            width: 100%;
          }
        }
        .s_infodesc{
          margin-top: 44px;
          padding: 0 18px;
          font-size: 20px;
          line-height: 25px;
          p{
            
          }
          h4{
            padding-top: 19px;
            color: #F28077;
            padding-bottom: 9px;
          }
          ul{
            list-style: disc;
            padding-left: 44px;
            li{

            }
          }
        }
      }
      .c__logolist{
        margin-top: 106px;
        margin-bottom: 106px;
        .s_logoitem{
          width: 178px;
          height: 60px;
          margin: 0 auto;
          margin-top: 28px;
          position: relative;
          &:nth-child(1){
            margin-top: 0px;
          }
          img{
            display: block;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  @media only screen and (min-width: 668px){
    .u__arrow { display:block; position:relative; width:40px; height:55px; margin-left:auto; margin-right:auto;margin-top:106px; }
    .u__arrow:before, .u__arrow:after { content:''; position:absolute; }
    .u__arrow:before { width:1.5px; height:100%; top:0; left:50%; transform:translateX(-50%); background:#FFF; }
    .u__arrow:after { border:solid #FFF; border-width:0 1.5px 1.5px 0; display:inline-block; padding:10px; transform:rotate(45deg);
  -webkit-transform:rotate(45deg); bottom:4px; left:9px; }
    .u__arrow.v_red:before { background:#EE907B; }
    .u__arrow.v_red:after { border-color:#EE907B; }

    /* c__form */
    // .u__sect + .u__sect.c__form { padding-bottom:107px; }
    .c__form .s_info figure { max-width:274px; margin-top:24px; }
    .c__form .s_form { margin-top:32px; transform:translateX(3px); width:calc(100% - 3px); }
    .c__form .s_form fieldset + fieldset { margin-top:39px; }
    .c__form .s_form fieldset:last-child { margin-bottom:40px; }
    .c__form .s_ctas { display:flex; }
    .c__form .s_form .u__btncta { margin-right:auto; }
    .c__form .s_form .u__btncta + .u__btncta{ margin:0px; }
    .c__form .s_info { margin-top:55px; }
    .c__form .s_info p + p { max-width:416px; }

    .c__form .s_form fieldset.s_checkbox { margin-top:20px !important; }
    .c__form .s_form fieldset.s_checkbox label { font-size:1.000rem; padding-left:37px; }
    .c__form .s_form fieldset.s_checkbox label span:first-child {width:26px; height:26px; top:-1px; }
    .c__form .s_form fieldset.s_checkbox input:checked + label span:first-child:before { width:15px; height:15px; }
  }
}