@media only screen and (min-width: 668px){
  main{
    .c__contents{
      .u__sect{
        & + .u__sect{
          margin-top: -140px;
          padding-top: 140px;
        }
        padding: 60px 28px 130px;
        &.c__futurehealth{
          padding-bottom: 140px;
          border-radius: 0 0 140px 140px;
          .u__content{
            .u__img{
              border-radius: 300px;
            }
            .u__shapelinear{
              width: 1180px;
              height: 468px;
              top: 201px;
              left: -61px;
              opacity: 1;
            }
            .s_titdesc{
              border-radius: 300px;
              .s_centerbox{
                .s_title{
                  div{
                    height: 64px;
                    border: 3px solid #363434;
                    border-radius: 80px;
                    width: 203px;
                    &:nth-child(1){
                      width: 262px;
                    }
                    span{
                      font-size: 50px;
                      line-height: 50px;
                    }
                  }
                }
                .s_desc{
                  width: 403px;
                  margin-top: 41px;
                  p{
                    font-size: 23px;
                    line-height: 32px;
                  }
                }
              }
            }
            .s_detail{
              font-size: 18px;
              line-height: 27px;
              max-width: 547px;
              margin: 0 auto;
              margin-top: 32px;
            }
            .u__arrow{
              margin-top: 63px;
            }
          }
        }
        &.c__specialists{
          border-radius: 0 0 140px 140px;
          padding-bottom: 106px;
          .u__content{
            padding-top: 105px;
            .u__shapelinear{
              width: 1813px;
              height: 830px;
              left: auto;
              right: -28px;
              top: 136px;
              &:before{
                border-radius: 415px;
              }
            }
            .s_title{
              div{
                height: 64px;
                border: 3px solid #363434;
                border-radius: 80px;
                width: 305px;
                &:nth-child(1){
                  width: 572px;
                  height: 64px;
                  span{
                    &:nth-child(1){
                      display: none;
                    }
                    &:nth-child(2){
                      display: inline;
                    }
                  }
                }
                span{
                  font-size: 50px;
                  line-height: 50px;
                }
              }
            }
            .s_programbox{
              
            }
            .s_programmesdiagram{
              margin-top: 42px;
              div{
                h3{
                  font-size: 52px;
                  line-height: 62px;
                }
              }
              .s_union{
                width: 70px;
                height: 112px;
              }
            }
            .s_detail{
              max-width: 612px;
              font-size: 18px;
              line-height: 27px;
              margin: 0 auto;
              margin-top: 80px;
            }
            .u__arrow{
              margin-top: 65px;
            }
          }
        }
        &.c__advancing{
          border-radius: 0 0 140px 140px;
          padding-bottom: 106px;
          .u__content{
            .u__shapelinear{
              &:nth-child(1){
                width: 1612px;
                height: 640px;
                right: -28px;
                top: 271px;
                &:before{
                  border-radius: 320px;
                }
              }
              &:nth-child(2){
                width: 1547px;
                height: 614px;
                right: calc(100vw - 167px);
                top: 531px;
                &:before{
                  border-radius: 307px;
                }
              }
              &:nth-child(3){
                width: 1204px;
                height: 478px;
                left: auto;
                right: 95px;
                top: 1248px;
                opacity: 1;
              }
              &:nth-child(4){
                display: block;
                width: 1204px;
                height: 478px;
                top: 1535px;
                left: 377px;
                opacity: 1;
              }
              &:nth-child(5){
                width: 1105px;
                height: 438px;
                left: auto;
                right: 78px;
                top: 2241px;
                opacity: 1;
              }
            }
            .s_absimg{
              width: 350px;
              height: 175px;
              border-radius: 88px;
              &.v_vertical{
                width: 175px;
                height: 350px;
              }
              &:nth-child(6){
                top: 1308px;
                left: auto;
                right:17px;
              }
              &:nth-child(7){
                top: 1459px;
                left: auto;
                right:-112px;
              }
              &:nth-child(8){
                top: 1969px;
                left: -52px;
              }
              &:nth-child(9){
                top: 1969px;
                left:auto;
                right: 17px;
              }
              &:nth-child(10){
                top: 2169px;
                left: 26px;
              }
              &:nth-child(11){
                top: 2274px;
                left: 268px;
              }
            }
            .s_image{
              width: 100%;
              left: auto;
              right: -28px;
              top: 517px;
            }
            .s_title{
              div{
                height: 64px;
                border: 3px solid #363434;
                border-radius: 80px;
                width: 155px;
                &:nth-child(1){
                  width: 452px;
                }
                &:nth-child(3){
                  width: 556px;
                  height: 64px;
                  span{
                    &:nth-child(1){
                      display: none;
                    }
                    &:nth-child(2){
                      display: inline;
                    }
                  }
                }
                span{
                  font-size: 50px;
                  line-height: 50px;
                }
              }
            }
            .s_desc{
              max-width: 611px;
              margin-top: 62px;
              p{
                font-size: 25px;
                line-height: 32px;
              }
            }
            .s_copy{
              margin-top: 301px;
              .s_detail{
                max-width: 612px;
                p{
                  font-size: 18px;
                  line-height: 27px;
                }
              }
              .s_logo{
                margin-top: 64px;
                figure{
                  &:nth-child(1){
                    width: 175px;
                    margin-right: 130px;
                  }
                  &:nth-child(2){
                    width: 74px;
                  }
                }
              }
            }
            .u__arrow{
              margin-top: 70px;
            }
            .s_healthcaresbox{
              margin-top: 375px;
              .s_title{
                div{
                  height: 64px;
                  border: 3px solid #363434;
                  border-radius: 80px;
                  width: 199px;
                  &:nth-child(1){
                    width: 302px;
                  }
                  &:nth-child(3){
                    width: 294px;
                    span{
                      &:nth-child(1){
                        display: inline;
                      }
                    }
                  }
                  span{
                    font-size: 50px;
                    line-height: 50px;
                  }
                }
              }
              .s_detail{
                max-width: 612px;
                margin-top: 82px;
                p{
                  font-size: 18px;
                  line-height: 27px;
                }
              }
              .u__arrow{
                margin-top: 796px;
              }
            }
          }
        }
        &.c__approach{
          border-radius: 0 0 140px 140px;
          padding-bottom: 106px;
          .u__content{
            .u__bg{
              width: 920px;
              height: 920px;
              top: 285px;
            }
            .u__shapelinear{
              width: 2304px;
              height: 915px;
              top: 335px;
              left: auto;
              right: -28px;
              &:before{
                border-radius: 458px;
              }
            }
            .s_title{
              span{
                width: 369px;
                height: 64px;
                font-size: 50px;
                border: 3px solid #363434;
                line-height: 57px;
              }
            }
            .s_desc{
              max-width: 612px;
              margin-top: 62px;
              p{
                font-size: 25px;
                line-height: 32px;
              }
            }
            .s_flexitems{
              margin-top: 78px;
              .s_items{
                .s_item{
                  width: 611px;
                  .s_index{
                    font-size: 70px;
                    line-height: 84px;
                  }
                  .s_feature{
                    height: 73px;
                    h3{
                      font-size: 35px;
                      line-height: 42px;
                    }
                  }
                  article{
                    p{
                      font-size: 18px;
                      line-height: 27px;
                    }
                  }
                }
              }
            }
            .u__arrow{
              margin-top: 64px;
            }
          }
        }
        &.c__services{
          border-radius: 0 0 140px 140px;
          padding-bottom: 99px;
          .u__content{
            .u__shapelinear{
              &:nth-child(1){
                width: 1213px;
                height: 482px;
                left: auto;
                right:72px;
                top: 359px;
              }
              &:nth-child(2){
                display: none;
              }
            }
            .s_title{
              span{
                width: 339px;
                height: 64px;
                font-size: 50px;
                border: 3px solid #363434;
                line-height: 57px;
              }
            }
            .s_desc{
              max-width: 612px;
              margin-top: 58px;
              p{
                font-size: 25px;
                line-height: 32px;
              }
            }
            .s_detail{
              max-width: 611px;
              margin-top: 507px;
              p{
                font-size: 18px;
                line-height: 27px;
              }
            }
            .s_imglist{
              margin-left: calc(50% - 415px);
              width: 830px;
              height: 362px;
              top: 332px;
              figure{
                width: 226px;
                height: 226px;
                &:nth-child(1){
                  left: 0px;
                  bottom: 0px;
                }
                &:nth-child(2){
                  left: 146px;
                  top: 0px;
                }
                &:nth-child(3){
                  left: 302px;
                  bottom: 0px;
                }
                &:nth-child(4){
                  left: 449px;
                  top: 0px;
                }
                &:nth-child(5){
                  right: 0px;
                  bottom: 0px;
                }
              }
            }
          }
        }
        &.c__visitus{
          padding-bottom: 105px;
          .u__content{
            .s_title{
              span{
                width: 224px;
                height: 64px;
                font-size: 50px;
                border: 3px solid #363434;
                line-height: 57px;
              }
            }
            .s_imgtxt{
              margin-top: 61px;
              .s_info{
                .s_infotit{

                }
                .s_detail{
                  font-size: 18px;
                  line-height: 27px;
                  max-width: 416px;
                  margin-top: 15px;
                }
                .s_form{
                  margin-top: 313px;
                }
              }
              figure{
                width: 274px;
                height: 274px;
                top: 135px;
              }
            }
          }
        }
      }
    }
  }
}