@media only screen and (min-width: 898px){
  main{
    .c__contents{
      .u__sect{
        & + .u__sect{
          margin-top: -140px;
          padding-top: 140px;
        }
        padding: 40px 40px 130px;
        &.c__futurehealth{
          padding-bottom: 135px;
          border-radius: 0 0 140px 140px;
          .u__content{
            .u__shapelinear{
              width: 1016px;
              height: 465px;
              top: 235px;
              left: -80px;
              opacity: 1;
            }
            .s_titdesc{
              .s_centerbox{
                .s_title{
                  div{
                    height: 80px;
                    border: 3px solid #363434;
                    border-radius: 60px;
                    width: 256px;
                    &:nth-child(1){
                      width: 331px;
                    }
                    span{
                      font-size: 62px;
                      line-height: 74px;
                    }
                  }
                }
                .s_desc{
                  width: 600px;
                  margin-top: 61px;
                  p{
                    font-size: 33px;
                    line-height: 40px;
                  }
                }
              }
            }
            .s_detail{
              font-size: 22px;
              line-height: 30px;
              max-width: 776px;
              margin: 0 auto;
              margin-top: 42px;
            }
            .u__arrow{
              margin-top: 74px;
            }
          }
        }
        &.c__specialists{
          border-radius: 0 0 140px 140px;
          padding-bottom: 136px;
          .u__content{
            padding-top: 135px;
            .u__shapelinear{
              width: 1813px;
              height: 830px;
              left: auto;
              right: -40px;
              top: 167px;
              &:before{
                border-radius: 415px;
              }
            }
            .s_title{
              div{
                height: 80px;
                border: 3px solid #363434;
                border-radius: 60px;
                width: 371px;
                &:nth-child(1){
                  width: 714px;
                  height: 80px;
                }
                span{
                  font-size: 62px;
                  line-height: 74px;
                }
              }
            }
            .s_programbox{
              top: 302px;
            }
            .s_programmesdiagram{
              margin-top: 44px;
              div{
                h3{
                  font-size: 62px;
                  line-height: 74px;
                }
              }
              .s_union{
                width: 70px;
                height: 112px;
              }
            }
            .s_detail{
              max-width: 776px;
              font-size: 22px;
              line-height: 30px;
              margin: 0 auto;
              margin-top: 107px;
            }
            .u__arrow{
              margin-top: 75px;
            }
          }
        }
        &.c__advancing{
          border-radius: 0 0 140px 140px;
          padding-bottom: 135px;
          .u__content{
            padding-top: 134px;
            .u__shapelinear{
              &:nth-child(1){
                right: -40px;
                top: 350px;
                &:before{
                  border-radius: 320px;
                }
              }
              &:nth-child(2){
                width: 1630px;
                height: 647px;
                right: calc(100vw - 542px);
                top: 620px;
                &:before{
                  border-radius: 324px;
                }
              }
              &:nth-child(3){
                width: 1105px;
                height: 438px;
                left: auto;
                right: 121px;
                top: 1378px;
                opacity: 1;
              }
              &:nth-child(4){
                width: 1105px;
                height: 438px;
                top: 1640px;
                left: 496px;
                opacity: 1;
              }
              &:nth-child(5){
                width: 1105px;
                height: 438px;
                left: auto;
                right: 307px;
                top: 2443px;
                opacity: 1;
              }
            }
            .s_absimg{
              width: 427px;
              height: 214px;
              border-radius: 107px;
              &.v_vertical{
                width: 214px;
                height: 427px;
              }
              &:nth-child(6){
                top: 1468px;
                left: auto;
                right:28px;
              }
              &:nth-child(7){
                top: 1655px;
                left: auto;
                right:-209px;
              }
              &:nth-child(8){
                top: 2132px;
                left: -125px;
              }
              &:nth-child(9){
                top: 2108px;
                left:252px;
              }
              &:nth-child(10){
                top: 2591px;
                left: 124px;
              }
              &:nth-child(11){
                top: 2455px;
                left: auto;
                right: 0px;
              }
            }
            .s_image{
              width:596px;
              left: auto;
              right: -40px;
              top: 631px;
            }
            .s_title{
              div{
                height: 80px;
                border: 3px solid #363434;
                border-radius: 60px;
                width: 195px;
                &:nth-child(1){
                  width: 565px;
                }
                &:nth-child(3){
                  width: 693px;
                  height: 80px;
                }
                span{
                  font-size: 62px;
                  line-height:74px;
                }
              }
            }
            .s_desc{
              max-width: 818px;
              margin-top: 80px;
              p{
                font-size: 33px;
                line-height: 40px;
              }
            }
            .s_copy{
              margin: 0 auto;
              margin-top: 264px;
              display: flex;
              width: 669px;
              .s_detail{
                width: 414px;
                // max-width: 414px;
                p{
                  font-size: 22px;
                  line-height: 30px;
                }
              }
              .s_logo{
                margin-top: 42px;
                // width: 175px;
                height: 149px;
                width: 255px;
                padding-left: 80px;
                figure{
                  &:nth-child(1){
                    width: 175px;
                    margin: 0 auto;
                  }
                  &:nth-child(2){
                    width: 74px;
                    margin: 0 auto;
                    margin-top: 47px;
                  }
                }
              }
            }
            .u__arrow{
              margin-top: 155px;
            }
            .s_healthcaresbox{
              margin-top: 275px;
              .s_title{
                div{
                  height: 80px;
                  border: 3px solid #363434;
                  border-radius: 60px;
                  width: 252px;
                  &:nth-child(1){
                    width: 379px;
                  }
                  &:nth-child(3){
                    width: 369px;
                  }
                  span{
                    font-size: 62px;
                    line-height: 74px;
                  }
                }
              }
              .s_detail{
                max-width: 544px;
                margin-top: 62px;
                margin-left: 40px;
                p{
                  font-size: 22px;
                  line-height: 30px;
                }
              }
              .u__arrow{
                margin-top: 905px;
              }
            }
          }
        }
        &.c__approach{
          border-radius: 0 0 140px 140px;
          padding-bottom: 135px;
          .u__content{
            padding-top: 135px;
            .u__bg{
              width: 875px;
              height: 875px;
              top: 363px;
            }
            .u__shapelinear{
              width: 2249px;
              height: 893px;
              top: 411px;
              left: auto;
              right:38px;
              &:before{
                border-radius: 458px;
              }
            }
            .s_title{
              span{
                width: 463px;
                height: 80px;
                font-size: 62px;
                border: 3px solid #363434;
                line-height: 74px;
              }
            }
            .s_desc{
              max-width: 612px;
              margin-top: 60px;
              p{
                font-size: 33px;
                line-height: 40px;
              }
            }
            .s_flexitems{
              margin-top: 150px;
              .s_items{
                display: flex;
                justify-content: space-between;
                width: calc(100% + 50px);
                transform: translateX(-25px);
                .s_item{
                  width: 33.33%;
                  padding: 0 25px;
                  &:not(:last-child):after{
                    display: none;
                  }
                  &:not(:first-child){
                    margin-top: 0px;
                  }
                  .s_index{
                    font-size: 80px;
                    line-height: 96px;
                  }
                  .s_feature{
                    height: 151px;
                    h3{
                      font-size: 39px;
                      line-height:47px;
                    }
                  }
                  article{
                    p{
                      font-size: 22px;
                      line-height: 30px;
                    }
                  }
                }
              }
            }
            .u__arrow{
              margin-top: 196px;
            }
          }
        }
        &.c__services{
          border-radius: 0 0 140px 140px;
          padding-bottom: 194px;
          .u__content{
            padding-top: 134px;
            .u__shapelinear{
              &:nth-child(1){
                width: 1236px;
                height: 491px;
                left: auto;
                right:489px;
                top: 417px;
                opacity: 1;
              }
              &:nth-child(2){
                display: block;
                width: 1096px;
                height: 435px;
                left: auto;
                right: 0px;
                opacity: 1;
                top: 755px;
              }
            }
            .s_title{
              span{
                width: 424px;
                height: 80px;
                font-size: 62px;
                border: 3px solid #363434;
                line-height: 74px;
              }
            }
            .s_desc{
              max-width: 486px;
              margin-top: 60px;
              p{
                font-size: 33px;
                line-height: 40px;
              }
            }
            .s_detail{
              max-width: 650px;
              margin-top: 625px;
              p{
                font-size: 22px;
                line-height: 30px;
              }
            }
            .s_imglist{
              margin-left: calc(50% - 550px);
              width: 1100px;
              height: 475px;
              top: 395px;
              figure{
                width: 300px;
                height: 300px;
                &:nth-child(1){
                  left: 0px;
                  bottom: 0px;
                }
                &:nth-child(2){
                  left: 193px;
                  top: 0px;
                }
                &:nth-child(3){
                  left: 400px;
                  bottom: 0px;
                }
                &:nth-child(4){
                  left: 595px;
                  top: 0px;
                }
                &:nth-child(5){
                  right: 0px;
                  bottom: 0px;
                }
              }
            }
          }
        }
        &.c__visitus{
          padding-bottom: 185px;
          .u__content{
            padding-top:135px;
            .s_title{
              span{
                width: 277px;
                height: 80px;
                font-size: 62px;
                border: 3px solid #363434;
                line-height: 74px;
              }
            }
            .s_imgtxt{
              margin-top: 70px;
              .s_info{
                display: flex;
                justify-content: space-between;
                width: calc(100% + 90px);
                max-width:calc(100% + 90px);
                transform: translateX(-45px);
                .s_titdetail{
                  width: 400px;
                  padding: 0 45px;
                  text-align: left;
                }
                .s_infotit{
                  font-size: 33px;
                  line-height: 40px;
                  text-align: left;
                }
                .s_detail{
                  font-size: 22px;
                  line-height: 30px;
                  max-width: 100%;
                  margin-top: 29px;
                  text-align: left;
                }
                .s_form{
                  margin-top:33px;
                  width: 509px;
                  padding: 0 45px;
                  .s_ctas{
                    .u__btncta{
                      margin-bottom: 0px;
                      a{
                        line-height: 58px;
                      }
                    }
                  }
                }
              }
              figure{
                width: 309px;
                height: 309px;
                top: 198px;
                left: 0px;
                transform: translateX(0px);
              }
            }
          }
        }
      }
    }
  }
}