@media screen and (min-width: 1000px) and (max-width:1439px){
  main{
    .c__contents{
      .c__futurehealth{
        .u__content{
          .u__img{
            width: 943px;
          }
        }
        .u__shapelinear{
          &.v_shape{
            top: 250px;
            width: 1151px;
          }
        }
      }
      .c__specialist{
        .u__content{
          .s_title{
            margin-left: 10%;
          }
          .s_detail{
            width: 70%;
          }
          .s_programbox{
            top: 220px;
          }
          .s_programmesdiagram{
            margin-top: 40px;
          }
        }
        .u__shapelinear{
          &.v_shape{
            top: 166px;
            height: 804px;
            border-radius: 400px;
          }
        }
      }
      .c__advancing{
        .u__content{
          padding-bottom: 84px;
          .s_desc{
            width: 80%;
          }
          .s_image{
            width: 50%;
          }
          .s_copy{
            .s_detail{
              width: 60%;
            }
            .s_logo{
              display: block;
              width: 20%;
              figure{
                width: 80%;
                &:nth-child(2){
                  margin-top: 30px;
                }
              }
            }
          }
        }
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            height: 640px;
            top: 410px;
            border-radius:320px;
          }
          &.v_shape:nth-of-type(2){
            height: 640px;
            border-radius:320px;
            width: 100%;
            left: -50%;
            top: 623px;
            background: linear-gradient(48deg,rgba(0,0,0,0) 10%,rgba(221,213,204,0) 99%,#ca6952 100%);
          }
        }
      }
      .c__healthcare{
        .u__content{
          .s_detail{
            margin-left: 0px;
            margin-top: 0px;
            width: 68%;
            padding: 0px 5%;
            padding-bottom: 918px;
          }
          .s_absimg{
            top: 120px;
            right: 0px;
            position: absolute;
            z-index: 1;
            figure{
              width: 436px;
              height: 231px;
              position: relative;
              a{
                width: 427px;
                height: 214px;
                border-radius: 107px;
                overflow: hidden;
                display: block;
              }
              span{
                position: absolute;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                left: 50%;
                bottom: 0px;
                background: #EE907B;
                transform: translateX(-50%);
                color: #fff;
                font-size: 34px;
                text-align: center;
                line-height: 34px;
                cursor: pointer;
              }
            }
            &:nth-of-type(4){
              right: 20%;
              top: 92px;
            }
            &:nth-of-type(5){
              right:-11%;
              top:266px;
            }
            &:nth-of-type(6){
              left: 0;
              top:683px;
            }
            &:nth-of-type(7){
              left:38%;
              top:653px;
              figure{
                width:214px;
                height: 443px;
                a{
                  width:214px;
                  height: 426px;
                }
              }
            }
            &:nth-of-type(8){
              left: 28%;
              top: 1138px;
            }
            &:nth-of-type(9){
              right: 0;
              top: 1006px;
              figure{
                width:214px;
                height: 443px;
                a{
                  width:214px;
                  height: 426px;
                }
              }
            }
          }
          .s_title{
            margin-top: 136px;
            span{
              &:nth-child(2){
                left: 10px;
              }
              &:nth-child(3){
                left: -50px;
                top: 100px;
              }
            }
          }
        }
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            width: 1105px;
            height: 438px;
            border-radius: 219px;
            left:-50%;
            top: 0px;
          }
          &.v_shape:nth-of-type(2){
            width: 1105px;
            height: 438px;
            border-radius: 219px;
            top: 220px;
            right: -50%;
            left: auto;
          }
          &.v_shape:nth-of-type(3){
            width: 1105px;
            height: 438px;
            border-radius: 219px;
            top: 1030px;
            left: -20%;
          }
        }
      }
      .c__approach{
        .u__content{
          .s_desc{
            width: 70%;
          }
          .u__bg{
            top: 54%;
          }
        }
        .u__shapelinear{
          &.v_shape{
            width: 2249px;
            height: 816px;
            left:auto;
            right: 10%;
            top: 550px;
            border-radius: 408px;
          }
        }
      }
      .c__services{
        .u__content{
          .s_imglist{
            width: 1220px;
            height: 500px;
            margin: 0 auto;
            position: relative;
            z-index: 1;
            margin-left: calc(50% - 610px);
            figure{
              width: 322px;
              height: 322px;
              border-radius: 50%;
              overflow: hidden;
              position: absolute;
              &:nth-child(1){
                left: 0px;
                bottom: 0px;
              }
              &:nth-child(2){
                left: 233px;
                top: 0px;
              }
              &:nth-child(3){
                left: 451px;
                bottom: 0px;
              }
              &:nth-child(4){
                left: 675px;
                top: 0px;
              }
              &:nth-child(5){
                right: 0px;
                bottom: 0px;
              }
            }
          }
          .s_detail{
            width: 60%;
          }
        }
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            height: 536px;
            border-radius: 268px;
            top: 456px;
            left: -40%;
            background: linear-gradient(48deg,rgba(0,0,0,0) 10%,rgba(221,213,204,0) 99%,#ca6952 100%);
          }
          &.v_shape:nth-of-type(2){
            height: 536px;
            border-radius: 268px;
            left: -5%;
            top: 822px;
          }
        }
      }
      .c__visitus{
        .u__content{
          .s_imgtxt{
            display: block;
            position: relative;
            .s_info{
              width: 70%;
            }
            figure{
              width: 309px;
              height: 309px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0px;
            }
          }
        }
      }
    }
  }
}