@media screen and (min-width: 898px) and (max-width:999px){
  main{
    .c__contents{
      .c__futurehealth{
        .u__content{
          .u__img{
            width: 943px;
          }
        }
        .u__shapelinear{
          &.v_shape{
            top: 250px;
            width: 1151px;
          }
        }
      }
      .c__specialist{
        .u__content{
          .s_title{
            margin-left: 10%;
          }
          .s_detail{
            width: 70%;
          }
          .s_programbox{
            top: 220px;
          }
          .s_programmesdiagram{
            margin-top: 40px;
          }
        }
        .u__shapelinear{
          &.v_shape{
            top: 166px;
            height: 804px;
            border-radius: 400px;
          }
        }
      }
      .c__advancing{
        .u__content{
          padding-bottom: 84px;
          .s_desc{
            width: 80%;
          }
          .s_image{
            width: 50%;
          }
          .s_copy{
            .s_detail{
              width: 60%;
            }
            .s_logo{
              display: block;
              width: 20%;
              figure{
                width: 80%;
                &:nth-child(2){
                  margin-top: 30px;
                }
              }
            }
          }
        }
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            height: 640px;
            top: 410px;
            border-radius:320px;
          }
          &.v_shape:nth-of-type(2){
            height: 640px;
            border-radius:320px;
            width: 100%;
            left: -50%;
            top: 623px;
            background: linear-gradient(48deg,rgba(0,0,0,0) 10%,rgba(221,213,204,0) 99%,#ca6952 100%);
          }
        }
      }
      .c__healthcare{
        .u__content{
          .s_detail{
            margin-left: 0px;
            margin-top: 0px;
            width: 74%;
            padding: 0px 5%;
            padding-bottom: 918px;
            position: relative;
            z-index: 1;
          }
          .s_absimg{
            top: 120px;
            right: 0px;
            position: absolute;
            z-index: 1;
            figure{
              width: 436px;
              height: 231px;
              position: relative;
              a{
                width: 427px;
                height: 214px;
                border-radius: 107px;
                overflow: hidden;
                display: block;
              }
              span{
                position: absolute;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                left: 50%;
                bottom: 0px;
                background: #EE907B;
                transform: translateX(-50%);
                color: #fff;
                font-size: 34px;
                text-align: center;
                line-height: 34px;
                cursor: pointer;
              }
            }
            &:nth-of-type(4){
              right: 10%;
              top: 92px;
            }
            &:nth-of-type(5){
              right:-18%;
              top:266px;
            }
            &:nth-of-type(6){
              left:-15%;
              top:683px;
            }
            &:nth-of-type(7){
              left:28%;
              top:653px;
              figure{
                width:214px;
                height: 443px;
                a{
                  width:214px;
                  height: 426px;
                }
              }
            }
            &:nth-of-type(8){
              left: 18%;
              top: 1138px;
            }
            &:nth-of-type(9){
              right: 5%;
              top: 1006px;
              figure{
                width:214px;
                height: 443px;
                a{
                  width:214px;
                  height: 426px;
                }
              }
            }
          }
          .s_title{
            margin-top: 136px;
            span{
              &:nth-child(2){
                left: 10px;
              }
              &:nth-child(3){
                left: -50px;
                top: 100px;
              }
            }
          }
        }
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            width: 1105px;
            height: 438px;
            border-radius: 219px;
            left:-50%;
            top: 0px;
          }
          &.v_shape:nth-of-type(2){
            width: 1105px;
            height: 438px;
            border-radius: 219px;
            top: 220px;
            right: -82%;
            left: auto;
          }
          &.v_shape:nth-of-type(3){
            width: 1105px;
            height: 438px;
            border-radius: 219px;
            top: 1030px;
            left: -66%;
          }
        }
      }
      .c__approach{
        .u__content{
          .s_desc{
            width: 70%;
          }
          .u__bg{
            top: 54%;
          }
        }
        .u__shapelinear{
          &.v_shape{
            width: 2249px;
            height: 816px;
            left:auto;
            right: 10%;
            top: 550px;
            border-radius: 408px;
          }
        }
      }
      .c__services{
        .u__content{
          .s_imglist{
            // transform: translateX(calc(100% - 1220px));
            margin-left: calc(50% - 415px);
          }
          .s_desc{
            width: 70%;
          }
          .s_detail{
            width: 70%;
          }
        }
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            width: 1230px;
            height: 536px;
            border-radius: 268px;
            top: 194px;
            left: -78%;
            background: linear-gradient(48deg,rgba(0,0,0,0) 10%,rgba(221,213,204,0) 99%,#ca6952 100%);
          }
          &.v_shape:nth-of-type(2){
            display: none;
          }
        }
      }
      .c__visitus{
        .u__content{
          .s_imgtxt{
            display: block;
            position: relative;
            .s_info{
              width: 60%;
              .s_detail{
                margin-bottom: 10px;
              }
            }
            figure{
              width: 309px;
              height: 309px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0px;
              left: auto;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 898px){
  main{
    &.p__subpages{
      .c__contents{
        .c__subpageintro{
          padding: 0 40px;
          padding-top: 50px;
          .s_logo{
            height: 78px;
          }
          .s_title{
            font-size: 62px;
            line-height: 74px;
            margin-top: 62px;
            margin-bottom: 57px;
            width: 100%;
          }
          .s_shapes{
            &.s_experience{
              .u__shapelinear{
                width: 1700px;
                height: 677px;
                left: auto;
                right: 68px;
                top: 0px;
                z-index: -1;
                border-radius: 339px;
              }
            }
            &.s_experience_detail{
              .v_shape:nth-child(1){
                width: 1612px;
                height: 640px;
                left: auto;
                right: 221px;
                top: 100px;
                z-index: -1;
                border-radius: 320px;
              }
              .v_shape:nth-child(2){
                width: 1099px;
                height: 436px;
                border-radius: 218px;
                left: 40%;
                top: 617px;
                z-index: -1;
              }
            }
            &.s_experience_poct{
              .u__shapelinear{
                width: 2077px;
                height: 823px;
                left: auto;
                right: 40px;
                top: 216px;
                z-index: -1;
                border-radius: 412px;
              }
            }
            &.s_service{
              .u__shapelinear{
                right: 77px;
              }
            }
          }
          .s_desc{
            font-size: 33px;
            line-height: 42px;
            &.s_service_desc{
              width: 82%;
              margin: 0 auto;
              margin-top: 69px;
            }
          }
          .u__arrow{
            margin-top: 73px;
          }
          .s_bigtitle{
            font-size: 22px;
            line-height: 30px;
          }
          .s_subtitle{
            font-size: 62px;
            line-height: 74px;
          }
          .s_content{
            font-size: 22px;
            line-height: 30px;
            padding-bottom: 162px;
          }
          .s_line{
            height: 125px;
          }
          .s_servicelist{
            padding-bottom: 134px;
            .s_serviceflex{
              display: flex;
              justify-content: space-between;
              .s_serviceitem{
                width: 100%;
                margin-top: 42px;
                .s_subtitle{
                  height: 148px;
                }
                .s_content{
                  width: 100%;
                  height: 180px;
                  padding: 0px 14px;
                  margin-bottom: 44px;
                }
                .u__btncta{
                  height: 87px;
                  min-width: 240px;
                  max-width: 250px;
                  margin: 0 auto;
                  a{
                    height: 100%;
                    font-size: 23px;
                    line-height: 29px;
                    text-align: left;
                    padding-top: 13px;
                  }
                }
              }
            }
            .s_serviceitem{
              .u__arrow{
                display: none;
              }
              .s_two_arrow{
                width: 491px;
                margin: 0 auto;
                margin-top: 35px;
              }
              .s_subtitle{
                font-size: 62px;
                line-height: 74px;
              }
              .s_graffiti{
                width: 173px;
              }
              .s_content{
                width: 80%;
                margin: 0 auto;
                padding-bottom: 44px;
              }
            }
          }
        }
        .c__imglist{
          margin-top: 69px;
          padding: 0 40px;
          .s_imgitem{
            width: 819px;
            height: 609px;
            border-radius: 86px;
            padding: 0 60px;
            padding-top: 80px;
            margin-bottom: 50px;
            h4{
              font-size: 22px;
              line-height: 30px;
            }
            p{
              font-size: 62px;
              line-height: 74px;
              margin-top:33px;
              margin-bottom: 86px;
            }
          }
        }
        .c__imgcaption{
          padding: 0 40px;
          padding-bottom: 128px;
          .s_imgcaption{
            p{
              font-size: 22px;
              line-height: 30px;
              padding-top: 22px;
            }
          }
        }
        .c__caseflex{
          padding: 0 40px;
          padding-bottom: 128px;
          padding-top: 231px;
          .s_subtitle{
            h2{
              font-size: 62px;
              line-height: 74px;
            }
          }
          .s_caselist{
            display: flex;
            justify-content: space-between;
            .s_caseitem{
              width: 30%;
              .s_caseicon{
                height: 60px;
              }
              .s_casetitle{
                font-size: 33px;
                line-height: 42px;
                height: 168px;
                margin-top: 38px;
              }
              .s_casedesc{
                font-size: 18px;
                line-height: 24px;
                margin-top: 56px;
              }
            }
          }
        }
        .c__videobox{
          padding-top: 134px;
          padding-bottom: 134px;
          .u__content{
            padding: 0 40px;
          }
        }
        .c__imgtxt{
          figure{
            width: 518px;
            height: 790px;
          }
          .s_infodesc{
            font-size: 33px;
            line-height: 42px;
            padding: 0 40px;
            margin-top: 69px;
            h4{
              font-size: 33px;
              line-height: 40px;
              padding-top: 32px;
              padding-bottom: 0px;
            }
          }
        }
        .c__logolist{
          width: 766px;
          margin: 0 auto;
          margin-top: 153px;
          margin-bottom: 134px;
          .s_logoitem{
            width: 222px;
            height: 75px;
            margin-left: 50px;
            &:nth-child(1){
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}