// @media screen and (min-width: 668px) and (max-width:897px){
  @media only screen and (min-width: 668px){
  main{
    .c__contents{
      .u__sect{
        border-radius: 0 0 140px 140px;
        .u__content{
          .s_desc{
            font-size: 23px;
            line-height: 32px;
          }
          .s_detail{
            font-size: 18px;
            line-height: 27px;
            width: 82%;
          }
          .s_title{
            span{
              max-width: 100%;
            }
          }
        }
      }
      .c__futurehealth{
        .u__content{
          .u__img{
            width: 788px;
          }
          .u__arrow{
            margin-top: 65px;
          }
          .s_detail{
            margin-top: 85px;
          }
          .u__shapelinear{
            &.v_shape{
              top: 130px;
              width: 1180px;
              height: 468px;
              border-radius: 234px;
              left: 23px;
            }
          }
        }
      }
      .c__specialist{
        .u__content{
          .s_title{
            margin-left: 10%;
          }
          .s_programbox{
            top: 328px;
          }
          .s_detail{
            width: 100%;
          }
          .s_programmesdiagram{
            margin-top: 40px;
            div{
              h3{
                font-size: 52px;
                line-height: 62px;
              }
            }
          }
          .u__shapelinear{
            &.v_shape{
              top: 230px;
              height: 830px;
              width: 1813px;
              border-radius: 415px;
              left: auto;
              right: -20%;
            }
          }
        }
      }
      .c__advancing{
        .u__content{
          padding-bottom: 84px;
          .s_title{
            margin-left: 5%;
          }
          .s_desc{
            width: 80%;
          }
          .s_image{
            width: 100%;
            top: 530px;
          }
          .s_copy{
            display: block;
            margin-top: 323px;
            .s_detail{
              width: 100%;
            }
            .s_logo{
              width: 80%;
              margin: 0 auto;
              margin-top: 60px;
              figure{
                width: 30%;
              }
            }
          }
          .u__shapelinear{
            &.v_shape:nth-of-type(1){
              width: 1892px;
              height: 750px;
              top: 325px;
              border-radius:375px;
              left: auto;
              right: -30%;
            }
            &.v_shape:nth-of-type(2){
              display: none;
            }
          }
        }
      }
      .c__healthcare{
        .u__content{
          padding-bottom: 72px;
          .s_detail{
            margin-left: 0px;
            margin-top: 53px;
            width: 100%;
            padding: 0px 10%;
            padding-bottom: 807px;
            position: relative;
            z-index: 1;
          }
          .s_absimg{
            top: 120px;
            right: 0px;
            position: absolute;
            z-index: 1;
            figure{
              width: 350px;
              height: 192px;
              position: relative;
              a{
                width: 350px;
                height: 175px;
                border-radius: 88px;
                overflow: hidden;
                display: block;
              }
              span{
                position: absolute;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                left: 50%;
                bottom: 0px;
                background: #EE907B;
                transform: translateX(-50%);
                color: #fff;
                font-size: 34px;
                text-align: center;
                line-height: 34px;
                cursor: pointer;
              }
            }
            &:nth-of-type(4){
              right: 10%;
              top: 63px;
            }
            &:nth-of-type(5){
              right:-15%;
              top:214px;
            }
            &:nth-of-type(6){
              left:-5%;
              top:699px;
            }
            &:nth-of-type(7){
              left:auto;
              right: 5%;
              top:692px;
              figure{
                width:175px;
                height: 367px;
                a{
                  width:175px;
                  height: 350px;
                }
              }
            }
            &:nth-of-type(8){
              left: 10%;
              top: 898px;
            }
            &:nth-of-type(9){
              left: 66%;
              top: 1003px;
              figure{
                width:175px;
                height: 367px;
                a{
                  width:175px;
                  height: 350px;
                }
              }
            }
          }
          .u__shapelinear{
            &.v_shape:nth-of-type(1){
              width: 1105px;
              height: 438px;
              border-radius: 219px;
              left:auto;
              right: 14%;
              top: 0px;
            }
            &.v_shape:nth-of-type(2){
              width: 1105px;
              height: 438px;
              border-radius: 219px;
              top: 306px;
              right:auto;
              left: 60%;
              display: block;
            }
            &.v_shape:nth-of-type(3){
              width: 1105px;
              height: 438px;
              border-radius: 219px;
              top: 942px;
              left: -66%;
            }
          }
        }
      }
      .c__approach{
        .u__content{
          .s_desc{
            width: 100%;
            padding: 0 28px;
            margin-top: 50px;
            margin-bottom: 69px;
          }
          .u__bg{
            top: 50%;
            width: 920px;
            height: 920px;
          }
          .s_flexitems{
            padding-bottom: 94px;
            .s_items{
              display: block;
              .s_item{
                font-size: 18px;
                line-height: 27px;
                width: 80%;
                margin: 0 auto;
                &:not(:first-child){
                  margin-top: 27px;
                }
                &:not(:last-child){
                  &:after{
                    content: '';
                    display: block;
                    background: url("../img/arrow_approachdown.svg") top center;
                    height: 49px;
                    width: 19px;
                    background-size: 19px 49px;
                    margin: 0 auto;
                    margin-top: 44px;
                  }
                }
                .s_index{
                  font-size: 70px;
                  line-height: 84px;
                }
                .s_feature{
                  font-size: 35px;
                  line-height: 42px;
                  height:83px;
                  text-align: center;
                  h3{
                    width: 100%;
                  }
                }
              }
            }
            .s_arrows{
              display: none;
            }
          }
          .u__shapelinear{
            &.v_shape{
              width: 2304px;
              height: 915px;
              left:auto;
              right: -36%;
              top: 469px;
              border-radius: 458px;
            }
          }
        }
      }
      .c__services{
        .u__content{
          padding-bottom: 134px;
          .s_imglist{
            margin-left: calc(50% - 415px);
            width: 830px;
            height: 362px;
            top: 410px;
            figure{
              width: 226px;
              height: 226px;
              &:nth-child(1){
                left: 0px;
                bottom: 0px;
              }
              &:nth-child(2){
                left: 146px;
                top: 0px;
              }
              &:nth-child(3){
                left: 302px;
                bottom: 0px;
              }
              &:nth-child(4){
                left: 449px;
                top: 0px;
              }
              &:nth-child(5){
                right: 0px;
                bottom: 0px;
              }
            }
          }
          .s_desc{
            width: 100%;
            padding: 0 28px;
            margin-top: 50px;
            margin-bottom: 520px;
          }
          .s_detail{
            width: 100%;
            padding: 0 28px;
            padding-bottom: 94px;
          }
          .u__shapelinear{
            &.v_shape:nth-of-type(1){
              height: 482px;
              width: 1213px;
              border-radius: 241px;
              top: 440px;
              left:auto;
              right: 10%;
            }
            &.v_shape:nth-of-type(2){
              display: none;
            }
          }
        }
      }
      .c__visitus{
        border-radius: 0px;
        .u__content{
          padding-top: 235px;
          padding-bottom:103px;
          .s_imgtxt{
            margin-top: 54px;
            .s_info{
              .s_infotit{
                text-align: center;
                font-size: 25px;
                line-height: 32px;
              }
              .s_detail{
                padding: 0 126px;
                margin-bottom: 300px;
              }
            }
            figure{
              width: 274px;
              height: 274px;
              top: 124px;
            }
          }
        }
      }
    }
    &.p__subpages{
      .c__contents{
        .u__arrow{
          margin-top: 63px;
        }
        .c__subpageintro{
          .s_logo{
            height: 62px;
          }
          .s_title{
            font-weight: 300;
            font-size: 50px;
            line-height: 58px;
            width: 80%;
            margin: 0 auto;
            margin-top: 36px;
            margin-bottom: 32px;
          }
          .s_shapes{
            &.s_experience{
              .u__shapelinear{
                width: 1312px;
                height: 510px;
                left: auto;
                right: 28px;
                top: 0px;
                z-index: -1;
                border-radius: 255px;
              }
            }
            &.s_experience_detail{
              .v_shape:nth-child(1){
                width: 1412px;
                height: 560px;
                left: auto;
                right: 154px;
                top: 90px;
                z-index: -1;
                border-radius: 280px;
              }
              .v_shape:nth-child(2){
                width: 962px;
                height: 382px;
                left: 40%;
                top: 524px;
                z-index: -1;
              }
            }
            &.s_experience_poct{
              .u__shapelinear{
                width: 1701px;
                height: 674px;
                left: auto;
                right: 28px;
                top: 135px;
                z-index: -1;
                border-radius: 337px;
              }
            }
          }
          .s_desc{
            font-size: 23px;
            line-height: 32px;
          }
          .s_bigtitle{
            font-size: 18px;
            line-height: 27px;
          }
          .s_subtitle{
            span{
              font-weight: 300;
              font-size: 50px;
              line-height: 50px;
              border: 3px solid #363434;
              border-radius: 80px;
            }
          }
          .s_content{
            font-size: 18px;
            line-height: 27px;
            padding-bottom: 142px;
          }
        }
        .c__imglist{
          margin-top: 61px;
          .s_imgitem{
            height: 525px;
            width: 612px;
            border-radius: 64px;
            padding: 0 55px;
            padding-top: 58px;
            h4{
              font-size: 18px;
              line-height: 27px;
            }
            p{
              font-weight: 300;
              font-size: 50px;
              line-height: 58px;
              margin-bottom: 59px;
            }
          }
        }
        .c__imgcaption{
          border-radius: 0px 0px 140px 140px;
          .s_imgcaption{
            p{
              font-size: 18px;
              line-height: 27px;
            }
          }
        }
        .c__caseflex{
          padding: 0 28px;
          padding-top: 231px;
          padding-bottom: 102px;
          .s_subtitle{
            h2{
              font-size: 50px;
              line-height: 58px;
            }
          }
          .s_caselist{
            .s_caseitem{
              .s_caseicon{
                height: 42px;
              }
              .s_casetitle{
                font-size: 23px;
                line-height: 32px;
              }
              .s_casedesc{
                font-size: 16px;
                line-height: 23px;
              }
            }
          }
        }
        .c__videobox{
          .u__content{
            padding: 0 28px;
          }
        }
        .c__imgtxt{
          figure{
            width:397px;
            height: 609px;
          }
          .s_infodesc{
            font-size: 23px;
            line-height: 32px;
            padding: 0 28px;
            h4{
              font-size: 23px;
              line-height: 32px;
            }
          }
        }
        .c__logolist{
          width: 614px;
          margin: 0 auto;
          margin-top: 133px;
          margin-bottom: 106px;
          overflow: hidden;
          .s_logoitem{
            float: left;
            margin: 0;
            padding: 0;
            margin-left: 40px;
            &:nth-child(1){
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}