@media screen and (min-width: 668px) and (max-width:897px){
  main{
    .c__contents{
      .u__sect{
        border-radius: 0 0 140px 140px;
        .u__content{
          .s_desc{
            font-size: 23px;
            line-height: 32px;
          }
          .s_detail{
            font-size: 18px;
            line-height: 27px;
            width: 82%;
          }
          .s_title{
            span{
              max-width: 100%;
            }
          }
        }
      }
      .c__futurehealth{
        .u__content{
          .u__img{
            width: 788px;
          }
          .u__shapelinear{
            &.v_shape{
              top: 250px;
              width: 1151px;
            }
          }
        }
      }
      .c__specialist{
        .u__content{
          .s_title{
            margin-left: 10%;
          }
          .s_programbox{
            top: 328px;
          }
          .s_detail{
            width: 100%;
          }
          .s_programmesdiagram{
            margin-top: 40px;
            div{
              h3{
                font-size: 52px;
                line-height: 62px;
              }
            }
          }
          .u__shapelinear{
            &.v_shape{
              top: 230px;
              height: 830px;
              width: 1813px;
              border-radius: 415px;
              left: auto;
              right: -20%;
            }
          }
        }
      }
      .c__advancing{
        .u__content{
          padding-bottom: 84px;
          .s_title{
            margin-left: 5%;
          }
          .s_desc{
            width: 80%;
          }
          .s_image{
            width: 100%;
            top: 530px;
          }
          .s_copy{
            display: block;
            margin-top: 323px;
            .s_detail{
              width: 100%;
            }
            .s_logo{
              width: 80%;
              margin: 0 auto;
              margin-top: 60px;
              figure{
                width: 30%;
              }
            }
          }
          .u__shapelinear{
            &.v_shape:nth-of-type(1){
              width: 1892px;
              height: 750px;
              top: 325px;
              border-radius:375px;
              left: auto;
              right: -30%;
            }
            &.v_shape:nth-of-type(2){
              display: none;
            }
          }
        }
      }
      .c__healthcare{
        .u__content{
          .s_detail{
            margin-left: 0px;
            margin-top: 40px;
            width: 100%;
            padding: 0px 10%;
            position: relative;
            z-index: 1;
          }
          .s_absimg{
            top: 120px;
            right: 0px;
            position: absolute;
            z-index: 1;
            figure{
              width: 350px;
              height: 192px;
              position: relative;
              a{
                width: 350px;
                height: 175px;
                border-radius: 88px;
                overflow: hidden;
                display: block;
              }
              span{
                position: absolute;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                left: 50%;
                bottom: 0px;
                background: #EE907B;
                transform: translateX(-50%);
                color: #fff;
                font-size: 34px;
                text-align: center;
                line-height: 34px;
                cursor: pointer;
              }
            }
            &:nth-of-type(4){
              right: 10%;
              top: 92px;
            }
            &:nth-of-type(5){
              right:-18%;
              top:240px;
            }
            &:nth-of-type(6){
              left:-5%;
              top:683px;
            }
            &:nth-of-type(7){
              left:auto;
              right: 5%;
              top:683px;
              figure{
                width:175px;
                height: 367px;
                a{
                  width:175px;
                  height: 350px;
                }
              }
            }
            &:nth-of-type(8){
              left: 10%;
              top: 880px;
            }
            &:nth-of-type(9){
              left: 50%;
              top: 987px;
              figure{
                width:175px;
                height: 367px;
                a{
                  width:175px;
                  height: 350px;
                }
              }
            }
          }
          .s_title{
            margin-top: 136px;
            span{
              &:nth-child(2){
                left: 10px;
              }
              &:nth-child(3){
                left: -50px;
                top: 100px;
              }
            }
          }
          .u__shapelinear{
            &.v_shape:nth-of-type(1){
              width: 1105px;
              height: 438px;
              border-radius: 219px;
              left:-50%;
              top: 0px;
            }
            &.v_shape:nth-of-type(2){
              width: 1105px;
              height: 438px;
              border-radius: 219px;
              top: 220px;
              right: -82%;
              left: auto;
            }
            &.v_shape:nth-of-type(3){
              width: 1105px;
              height: 438px;
              border-radius: 219px;
              top: 1030px;
              left: -66%;
            }
          }
        }
      }
      .c__approach{
        .u__content{
          .s_desc{
            width: 70%;
          }
          .u__bg{
            top: 54%;
          }
          .s_flexitems{
            padding-bottom: 54px;
            .s_items{
              display: block;
              .s_item{
                font-size: 14px;
                line-height: 20px;
                width: 80%;
                margin: 0 auto;
                &:not(:first-child){
                  margin-top: 27px;
                }
                &:not(:last-child){
                  &:after{
                    content: '';
                    display: block;
                    background: url(../img/arrow_approachdown.svg) top center;
                    height: 49px;
                    width: 19px;
                    background-size: 19px 49px;
                    margin: 0 auto;
                    margin-top: 44px;
                  }
                }
                .s_index{
                  font-size: 70px;
                  line-height: 84px;
                }
                .s_feature{
                  font-size: 30px;
                  line-height: 36px;
                  height:69px;
                  text-align: center;
                  h3{
                    width: 100%;
                  }
                }
              }
            }
            .s_arrows{
              display: none;
            }
          }
          .u__shapelinear{
            &.v_shape{
              width: 2249px;
              height: 816px;
              left:auto;
              right: 10%;
              top: 550px;
              border-radius: 408px;
            }
          }
        }
      }
      .c__services{
        .u__content{
          .s_imglist{
            // width:354px;
            margin-left: calc(50% - 415px);
            width: 830px;
            height: 362px;
            figure{
              width: 226px;
              height: 226px;
              &:nth-child(1){
                left: 0px;
                bottom: 0px;
              }
              &:nth-child(2){
                left: 146px;
                top: 0px;
              }
              &:nth-child(3){
                left: 302px;
                bottom: 0px;
              }
              &:nth-child(4){
                left: 449px;
                top: 0px;
              }
              &:nth-child(5){
                right: 0px;
                bottom: 0px;
              }
            }
          }
          .s_desc{
            width: 70%;
          }
          .s_detail{
            width: 88%;
          }
          .u__shapelinear{
            &.v_shape:nth-of-type(1){
              height: 536px;
              border-radius: 268px;
              top: 456px;
              left: -40%;
              background: linear-gradient(48deg,rgba(0,0,0,0) 10%,rgba(221,213,204,0) 99%,#ca6952 100%);
            }
            &.v_shape:nth-of-type(2){
              height: 536px;
              border-radius: 268px;
              left: -5%;
              top: 750px;
            }
          }
        }
      }
      .c__visitus{
        .u__content{
          padding-top: 235px;
          .s_imgtxt{
            .s_info{
              .s_infotit{
                text-align: center;
                font-size: 25px;
                line-height: 32px;
              }
            }
            figure{
              width: 274px;
              height: 274px;
              top: 124px;
            }
          }
        }
      }
    }
  }
}