@media only screen and (min-width: 1400px){
  main{
    .c__contents{
      .c__futurehealth{
        .u__shapelinear{
          &.v_shape{
            top: 340px;
            width: 1151px;
          }
        }
      }
      .c__specialist{
        .u__content{
          .s_programbox{
            top: 220px;
          }
          .s_programmesdiagram{
            margin-top: 40px;
          }
        }
        .u__shapelinear{
          &.v_shape{
            top: 166px;
            height: 804px;
            border-radius: 400px;
          }
        }
      }
      .c__advancing{
        .u__content{
          padding-bottom: 84px;
        }
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            height: 640px;
            top: 410px;
            border-radius:320px;
          }
          &.v_shape:nth-of-type(2){
            height: 640px;
            border-radius:320px;
            width: 60%;
            left: -10%;
            top: 623px;
            background: linear-gradient(48deg,rgba(0,0,0,0) 10%,rgba(221,213,204,0) 99%,#ca6952 100%);
          }
        }
      }
      .c__healthcare{
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            width: 1105px;
            height: 438px;
            border-radius: 219px;
            left:0px;
            top: 0px;
          }
          &.v_shape:nth-of-type(2){
            width: 1105px;
            height: 438px;
            border-radius: 219px;
            top: 251px;
            right: -20%;
            left: auto;
          }
          &.v_shape:nth-of-type(3){
            width: 1105px;
            height: 438px;
            border-radius: 219px;
            top: 853px;
            left: -20%;
          }
        }
      }
      .c__approach{
        .u__shapelinear{
          &.v_shape{
            height: 816px;
            left: 0px;
            top: 550px;
            border-radius: 408px;
          }
        }
      }
      .c__services{
        .s_imglist{
          width: 1220px;
          height: 500px;
          margin: 0 auto;
          position: relative;
          z-index: 1;
          margin-left: calc(50% - 610px);
          figure{
            width: 322px;
            height: 322px;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            &:nth-child(1){
              left: 0px;
              bottom: 0px;
            }
            &:nth-child(2){
              left: 233px;
              top: 0px;
            }
            &:nth-child(3){
              left: 451px;
              bottom: 0px;
            }
            &:nth-child(4){
              left: 675px;
              top: 0px;
            }
            &:nth-child(5){
              right: 0px;
              bottom: 0px;
            }
          }
        }
        .u__shapelinear{
          &.v_shape:nth-of-type(1){
            height: 536px;
            border-radius: 268px;
            top: 456px;
            left: -40%;
            background: linear-gradient(48deg,rgba(0,0,0,0) 10%,rgba(221,213,204,0) 99%,#ca6952 100%);
          }
          &.v_shape:nth-of-type(2){
            height: 536px;
            border-radius: 268px;
            left: -5%;
            top: 822px;
          }
        }
      }
      .c__contents{
        .u__sect{
          .u__content{
            
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1440px){
  main{
    &.p__subpages{
      .c__contents{
        .c__subpageintro{
          padding: 0 60px;
          padding-top: 53px;
          .s_title{
            // width: 60%;
            max-width: 792px;
          }
          .s_desc{
            max-width: 1064px;
            // width: 80%;
            margin: 0 auto;
            &.s_service_desc{
              width: 50%;
            }
          }
          .s_shapes{
            &.s_experience{
              .u__shapelinear{
                right: 347px;
              }
            }
            &.s_experience_poct{
              .u__shapelinear{
                right:12.7%;
                width: 1611px;
                height: 640px;
              }
            }
            &.s_service{
              .u__shapelinear{
                right: 131px;
              }
            }
          }
          .s_content{
            width: 60%;
            margin: 0 auto;
          }
          .s_servicelist{
            .s_serviceflex{
              .s_serviceitem{
                .u__btncta{
                  height: 64px;
                  min-width: 426px;
                  max-width: 461px;
                  a{
                    padding: 0 30px;
                    line-height: 64px;
                    font-size: 28px;
                  }
                }
              }
            }
            .s_serviceitem{
              .s_content{
                width: 46%;
              }
              .s_two_arrow{
                width: 741px;
              }
            }
          }
          .s_bigtit{
            span{
              font-size: 62px;
              padding: 0 38px;
              &:nth-child(1){
                margin-left:297px;
              }
              &:nth-child(2){
                margin-left:6px;
              }
            }
          }
          .c__experts{
            padding-bottom: 0px;
            .s_expertslist{
              margin-top: -178px;
              .s_expertitem{
                height:518px;
                &:nth-child(3n){
                  float: right;
                }
                &:nth-child(3n+1){
                  float: left;
                }
                &:nth-child(3n+2){
                  float: left;
                  margin-left:5%;
                }
                .s_desc{
                  width: 100%;
                }
              }
            }
          }
          .c__optimise{
            .s_optimiselist{
              .s_optimiseitem{
                height: 550px;
                .s_middlebox{
                  height: 181px;
                }
              }
            }
          }
        }
        .c__imglist{
          padding: 0 60px;
          .s_imgitem{
            width: 1320px;
            height: 684px;
            border-radius:80px;
            padding: 0 278px;
            padding-top: 127px;
          }
        }
        .c__imgcaption{
          .s_imgcaption{
            width: 890px;
            margin: 0 auto;
            figure{
              border-radius: 86px;
            }
          }
        }
        .c__imgtxt{
          .s_flex{
            display: block;
            overflow: hidden;
            padding: 0 60px;
            figure{
              width: 518px;
              height: 796px;
              float: left;
              img{
                width: 518px;
                height: 796px;
                border-radius: 259px;
              }
            }
            .s_infodesc{
              width: 50.3%;
              float: left;
              margin-left: 100px;
            }
          }
        }
      }
    }
  }
}